@use '@/styles/mixins';

.product_card_small {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  row-gap: 4px;
  padding: 0px 0px 4px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  .thumbnail {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;

    .image_container {
      width: 100%;
      height: 100%;
      position: relative;

      .product_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .product_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0px;
    line-height: 1.2;
    white-space: pre-wrap;
    @include mixins.text-ellipsis;
    padding: 12px 4px 0;

    .product_name {
      @include mixins.text-ellipsis;
      color: $gray03;
      font-size: 1.3rem;
      margin: 0;
    }

    .price_info {
      .price {
        font-size: 1.2rem;
        font-weight: 600;
        color: $gray03;
        margin: 0;
      }
    }

    .interest_info {
      font-size: 1.1rem;
      color: $light-gray01;
      margin: 0;
    }
  }
}

.product_card_large {
  .thumbnail {
    border-radius: 10px;
    background-color: $light-gray02;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;

    .image_container {
      width: 100%;
      height: 100%;
      position: relative;

      .product_image {
        object-fit: cover;
      }
    }

    .product_bookmark {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 8px;
    }
  }

  .product_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0px;
    line-height: 1.2;
    white-space: pre-wrap;
    @include mixins.text-ellipsis;
    padding: 12px 4px 0;

    .product_name {
      @include mixins.text-ellipsis;
      color: $gray03;
      font-size: 1.3rem;
      margin: 0;
    }

    .brand_name {
      font-size: 1.2rem;
      font-weight: 700;
      @include mixins.text-ellipsis;
    }

    .product_name_sub {
      font-size: 1.1rem;
      font-weight: 600;
      color: $light-gray01;
      margin: 0;
      @include mixins.text-ellipsis;
    }

    .price_info {
      .price {
        font-size: 1.2rem;
        font-weight: 600;
        color: $gray03;
        margin: 0;
      }
    }

    .interest_info {
      font-size: 1.1rem;
      color: $light-gray01;
      margin: 0;
    }
  }
}
