.container {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 90vh;
  background: #fff;
  max-width: 440px;
  transform: translate(-50%, 0);
  overflow-y: scroll;
  padding-bottom: 40px;
}

.address_header {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.back_button {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  background: none;
  border: none;
}

.address_save_button {
  height: 52px;
  border-radius: 12px;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 32px;
  color: #fff;
  border: none;
  background: #2223;

  &.active {
    background: #222;
  }
}

.address_search_input_wrap {
  position: relative;
  width: 100%;

  & .button_reset {
    background: none;
    border: none;
    display: block;
    text-align: left;
    height: 34px;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    padding: 0 14px;
    font-size: 1.2rem;
    background: #fff;
    position: absolute;
    right: 0;
    bottom: 3.2rem;
  }
}

.daum_style {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;

  & .daum_header {
    width: 100%;
    height: 48px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 16px;

    & .close_button {
      position: relative;
      width: 30px;
      height: 30px;
      background: #fff;
      border: none;
    }
  }
}
