// 바텀시트
.bottom_sheet_layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bottom_sheet_header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
}

.bottom_sheet_content {
  flex: 1;
  overflow-y: auto;
}

.bottom_sheet_bottom_wrap {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 100;

  .bottom_sheet_bottom {
    > button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      min-width: 100px;
      word-break: keep-all;
      letter-spacing: -0.16px;
      padding: 0 25px;
      border: 1px solid $light-gray04;
      border-radius: 10px;
      height: 52px;
    }
    &_clear {
      color: $gray01;
      background-color: $white;
    }
    &_submit {
      color: $white;
      background-color: $black;
      font-weight: 700;
      width: 100%;
    }
  }
}

.bottom_sheet_bottom_selected_filter {
  padding: 16px 16px 8px !important;
}

.contents_container {
  height: 100%;
  margin-top: 14px;
}

// 카테고리 필터
.search_category_item {
  padding: 16px 0;

  .active {
    background-color: $black;
    color: $white;
    font-weight: 700;
  }
}

// 성별 필터
.search_gender {
  margin-bottom: 12px;

  &_button_wrap {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 0 16px;
  }
}

// 색상 필터
.search_color {
  padding: 0 16px;
  display: grid;
  column-gap: 8px;
  grid-template-columns: repeat(5, 1fr);
  &_item {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    text-align: center;

    &_box {
      border: 1px solid rgba(0, 0, 0, 0.04);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      > div {
        width: 100%;
        height: 100%;
      }

      .check_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
  }
}

// 브랜드 필터
.search_brand {
  padding: 8px 16px;
  font-size: 1.4rem;
  position: relative;
}

.search_brand_input_wrap {
  position: sticky;
  top: 0;
  z-index: 1;
}
.search_brand_list_wrap {
  padding: 18px 0;
}

.search_brand_list_header {
  font-weight: 600;
}

.search_brand_list {
  border-bottom: 1px solid $light-gray04;
}
.search_brand_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  > img {
    opacity: 0.6;
  }
}

// 가격대 필터
.search_price_slider_wrap {
  padding-top: 14px;
}

.search_price_button_wrap {
  flex-wrap: wrap;
}
