.sort_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  font-size: 1.3rem;
}

.sort_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.sort_left_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  > p {
    color: $gray04;
  }
  > span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid $light-gray01;
  }
}

.sort_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort_bottom_sheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 440px;
  background-color: transparent;
  height: 100%;
  margin: 0 auto;
  left: 50%;
  z-index: 1001;
  transform: translateX(-50%);

  .background_black {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    opacity: 0.5;
  }

  > ul {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $white;
    border-radius: 20px 20px 0 0;
    padding: 28px 16px;
    z-index: 1002;

    > li {
      padding: 18px 24px 18px 0;
      border-bottom: 1px solid $light-gray04;
      font-size: 1.5rem;
      color: $gray01;

      &.active {
        font-weight: 700;
        background: $light-gray08;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
