.payment_button {
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.06);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 1001;
  width: 100%;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 440px;

  & .button_width {
    max-width: 440px;
    width: 100%;
  }
}
