@use '@/styles/mixins';

.filter_title {
  font-size: 1.4rem;
  font-weight: 600;
  color: $gray03;
  margin-bottom: 12px;
  margin: 0 0 12px 0;
}

.filter_scroll {
  gap: 8px;
  padding: 4px 0;
}

.filter_button {
  border: none;
  align-items: center;
  background-color: $light-gray02;
  border-radius: 30px;
  color: $gray04;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  height: 30px;
  padding: 0 8px;

  > p {
    font-size: 1.3rem;
    padding: 0 4px;
  }

  &.active {
    background-color: $gray03;
    color: #fff;
    font-weight: 600;
  }

  .filter_count {
    color: $light-gray07;
    margin-left: 2px;
  }
}

.selected_filters {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;
  padding-top: 16px;
}
