$black: #222;
$gray01: #222222cc;
$gray02: #22222280;
$gray03: #333;
$gray04: #4e4e4e;
$light-gray01: #a7a7a7;
$light-gray02: #f4f4f4;
$white: #fff;
$red01: #ef6253;
$red02: #ff4757; /* 유효성메세지 공통*/
$green01: #41b979;
